@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather+Sans&family=Nosifer&family=Roboto:ital,wght@0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
    transition: 0.3s ease;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
    transition: 0.3s ease;
}

h4 {
    font-size: 20px;
    color: #222;
    transition: 0.3s ease;
}

h6 {
    font-weight: 700;
    font-size: 12px;
    transition: 0.3s ease;
}

p{
    font-size: 16px;
    color: darkgray;
    margin: 15px 0 20px 0;
    transition: 0.5s ease;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: aliceblue;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
    margin-top: 10px;
}

body{
    width: 100%;
}

/* Header Start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(230, 229, 229);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.546); 
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    transition: 0.1s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color:rgb(76, 137, 139);
    font-size: 17px;
    transition: 0.1s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(36, 73, 74) ;
    position: absolute;
    bottom: -4px;
    left:20px;
    transition: 0.2s ease;
}

.menu{
    background: rgb(230, 229, 229);
    text-align: center;
    transition: 0.3s ease;
}
.menu ul{
    display: inline-flex;
    list-style: none;
    color: #fff;

}
.menu ul li{
    color: aliceblue;
    width: px;
    margin: 15px;
    padding: 0px 15px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.submenu{
    display: none;
    margin-right: 15px;
    margin-top: 7px;
    padding: 0px 15px;
    width:150px;
    border-radius: 5%;
    box-shadow: #222 2px 2px 5px;
}
.menu:hover ul li .submenu{
    display: block;
    align-items: center;
    position:absolute;
    background: rgb(241, 234, 234);
    margin-left: -70px;
    transition: 0.3s ease;
}
.menu:hover ul li .submenu ul{
    display: block;
    margin: 5px;
    transition: 0.3s ease;
}
.menu:hover ul li .submenu ul li{
    width: 90px;
    padding: 10px;
    border-bottom: 1px dotted whitesmoke;
    border-radius: 0;
    text-align: left;
    transition: 0.3s ease;
}


/*Cart */
.nav-cart{
    justify-content: space-between;
    display: flex;
}

.cart{
    position: relative;
    background-color: rgb(202, 149, 149);
    font-size: 70px;
    border-radius: 4px;
    padding: 15px 15px;
}

.cartAmount{
    position: absolute;
    background-color: red;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 3px;
}


/* Home */

#hero{
    background-image:url("images/HomeBackground.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0%;
    background-size: cover;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
        width: 100%;
}

#hero h4:hover{
    font-size: 21px;
    color: rgb(84, 68, 79);
    transition: 0.3s ease;
}

#hero h4{
    padding-bottom: 15px;
}


#hero h1 {
    color: rgb(36, 73, 74);
}

#hero h1:hover {
    font-size: 52px;
    color: rgb(84, 68,79);
    text-shadow: 2px -1px 3px rgb(227, 209, 209) ;
    transition: 0.3s ease;
}

#hero h2:hover{
    font-size: 48px;
    transition: 0.3s ease;
}

#hero p:hover{
    font-size:18px;
    color: darkslategrey;
    margin-left: 5px;
    transition: 0.3s ease;
}

#hero button{
    background-image: url("images/button.png") ;
    background-color: transparent;
    padding: 23px 30px ;
    border: 0;
    text-align: center;
    text-indent:20px;
    background-repeat: no-repeat;
    text-decoration: none;
}

#hero a{
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}
#hero a:hover{
    text-decoration:none;
    color: black;
    font-size: 17px;
    transition: 0.3s ease;
}


#option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#option .opt-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 15px 10px 23px rgba(0, 0, 0, 0.146);
    border: 1px solid rgb(188, 169, 174);
    border-radius: 6px;
    margin: 15px 0px;
    transition: 0.3s ease;
}

#option .opt-box:hover{
    box-shadow: 10px 10px 40px rgba(84, 68, 79, 0.329);
    transition: 0.3s ease;

}
#option .opt-box img{
    width: 100%;
    margin-bottom: 10px;
}

#option .opt-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    color: rgb(247, 236, 236);
    background-color: rgb(84, 68, 79);
}
#option .opt-box:nth-child(2) h6{
    background-color: rgb(107, 100, 81);
}
#option .opt-box:nth-child(3) h6 {
    background-color: rgb(95, 81, 107);
}
#option .opt-box:nth-child(2) h6 {
    background-color: rgb(85, 107, 81);
}
#option .opt-box:nth-child(5) h6 {
    background-color: rgb(81, 100, 107);
}
#option .opt-box:nth-child(6) h6 {
    background-color: rgb(107, 81, 81);
}

/*Featured Products */

#products1{
    text-align: center;
}

#products1 .product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap:wrap;
}

#products1 .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(210, 201, 201);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 15px 10px 23px rgba(0, 0, 0, 0.146);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#products1 .product:hover{
    box-shadow: 15px 10px 23px rgba(0, 0, 0, 0.246);
    transition: 0.2s ease;
}

#products1 .product img{
    width: 100%;
    border-radius: 15px;
}

#products1 .product .desc{
    text-align: start;
    padding: 10px 0;
}

#products1 .product .desc span{
    color: rgb(155, 152, 152);;
    font-size: 12px;
}

#products1 .product .desc h5{
    padding-top: 7px;
    color:darkslategray;
    font-size: 14px;
}
#products1 .product .desc i{
    font-size: 12px;
    color: burlywood;
}
#products1 .product .desc h4{
    padding-top: px;
    font-size: 15px;
    font-weight: 800;
    color: rgb(107, 100, 81);
}
#products1 .product .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(245,212,181);
    color:rgb(68,55,64);
    border: 1px solid rgba(92, 80, 89, 0.194);
    position:absolute;
    bottom: 20px;
    right: 20px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner/b1.jpg");
    width: 100%;
    height: 35vh;
    background-size: cover;
}

#banner span{
    text-shadow: 1px -1px 3px #222;
    color: white;
    transition: 0.6s ease;
}
#banner span:hover {
    color: floralwhite;
    text-shadow:5px -1px 3px #222 ;
    font-size: 55px;
    transition: 0.3s ease;
}

#banner h2{
    text-shadow: 1px -1px 3px #222;
    color: beige;
}

#banner button:hover{
    background-color: aliceblue;
    color: black;
    transition: 0.3s ease;
}




/* main background */
.main_container{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/loginbackground.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

/* For animation part */
.main_container .animate {
    display: inline-block;
    width: calc(10px * var(--count));
    height: calc(10px * var(--count));
    border-radius: calc(5px * var(--count));
    border: 2px solid #fff5;
    position: absolute;
    top: 50%;
    left: calc(8% * var(--count));
    right: calc(1% * var(--count));;
    bottom: calc(10% * var(--count));
    box-shadow: 0 2px 6px rgba(190, 112, 64, 0.133), 0 4px 16px #0004;
    animation-name: animate;
    animation-iteration-count: infinite;
    animation-delay: calc(0.2s * var(--count));
    animation-duration: calc(5s * var(--count));
    animation-fill-mode: both;
}

/* Circles in the background */
.main_container .animate:nth-child(1) {
    background-color:rgb(60, 193, 149);
}

.main_container .animate:nth-child(2) {
    background-color:rgb(69, 155, 126);
}

.main_container .animate:nth-child(3) {
    background-color: rgb(41, 105, 84);
}

.main_container .animate:nth-child(4) {
    background-color: rgba(16, 155, 109, 0.868);
}
.main_container .animate:nth-child(5) {
    background-color: rgba(107, 148, 134, 0.868);
}
.main_container .animate:nth-child(6) {
    background-color: rgba(1, 127, 85, 0.868);
}
.main_container .animate:nth-child(7) {
    background-color: rgba(48, 151, 117, 0.687);
}
.main_container .animate:nth-child(8) {
    background-color: rgba(31, 100, 77, 0.687);
}
.main_container .animate:nth-child(9) {
    background-color: rgba(107, 148, 134, 0.868);
}

.main_container .animate:nth-child(10) {
    background-color: rgba(1, 127, 85, 0.868);
}

.main_container .animate:nth-child(11) {
    background-color: rgba(48, 151, 117, 0.687);
}

.main_container .animate:nth-child(12) {
    background-color: rgba(31, 100, 77, 0.687);
}




/* sighting form */
.main_container .login_form {
    display: block;
    max-width: 500px;
    width: 100%;
    padding: 50px 25px;
    background-image: linear-gradient(45deg, #fff1, #fff3);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 2px outset #fff5;
    position: relative;
    box-shadow: 0 2px 6px #0002, 0 5px 16px #0005;
    color: #d1edf2;
}

/* title of form */
.main_container .login_form .login_form_title {
    font-size: 18px;
    color: #000;
}

.main_container .login_form .login_form_title ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    color: #fff;
    background: #ea272d;
}

.main_container .login_form .group {
    position: relative;
    margin-top: 30px;
}

/* input box in form */
.main_container .login_form .group input {
    background-color: #0002;
    border-radius: 4px;
    display: block;
    width: 100%;
    box-shadow: -1px 1px 2px #0002 inset;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: 1px outset rgba(227, 164, 133, 0.333);
    transition: border-radius 0.3s;
}

/* labels of input boxes */
.main_container .login_form .group label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.779);
    transition-property: top, left, color, font-size;
    transition: 0.3s;
}

.main_container .login_form .group input:valid+label,
.main_container .login_form .group input:focus+label {
    top: -14px;
    left: 0;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

input[type=password]::-ms-browse {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
}

input[type=password]::-ms-browse:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}

/* icons in input boxes */
.main_container .login_form .group .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color:#7B3312;
    text-shadow: 0 0 1px #0007;
}

.main_container .login_form .group .iconn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}

/* button 1 */
.main_container .login_form .btn1 {
    border: none;
    position: relative;
    display: inline-block;
    background: linear-gradient(187deg, #7b33127b, #ffffff58);
    padding: 8px 25px;
    border-radius: 4px;
    color: rgb(1, 1, 1);
    font-size: 16px;
    box-shadow: 0 0 0 4px #fff2;
    margin: 10px 150px;
    cursor: pointer;
    transition-property: transform;
    transition: 0.2s ease-in;
    z-index: 1;
}

.main_container .login_form .btn1:hover {
    background: #9d441a;
    box-shadow: 0 0 5px #6e3820, 0 0 25px #943a11, 0 0 50px, 0 0 200px #943a11;
}



@keyframes animate {

    0% {
        transform: translateY(250px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-500px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* for animation */
@keyframes move {

    0%,
    100% {
        transform: translate(-200, 200);
    }

    25%,
    75% {
        transform: translate(400%, 300%);
    }

    30%,
    60%,
    90% {
        transform: translate(200%, 500%);
    }

    20%,
    40%,
    80% {
        transform: translate(500%, 300%);
    }

    10%,
    50% {
        transform: translate(200%, 10%);
    }
}
